div(class='game')
  div(style={'background-image': 'url(' + horizontalHeaderImage + ')'}, class='art')
    div(class='info')
      p #{title}
      div MSRP: #{msrp}
      div salePrice: #{salePrice}
      div publisher: #{publishers}
      a(href='https://nintendo.com' + url, target='_blank') View
