// Pagination stuff
div(class='search')
  form(action='')
    label(for='search_title') Title:
    input(type='text', name='search_title', value=search_title)

    label(for='search_publisher') Publisher:
    input(type='text', name='search_publisher', value=search_publisher)

    button(type='submit') Search
    button(type='reset') Reset
