html, body {
  background: #333;
  color: #fff;
  font-family: sans;
}

a {
  color: lime;
}

div.pagination {
  background: #000;
  color: #fff;
}

div.pagination a {
  color: lime;
  display: inline-block;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
}

div.game {
  padding: 30px;
}

div.game img {
  width: 200px;
}

div.game td {
  border: 2px solid #222;
  font-size: 12px;
  padding: 14px;
  text-align: justify;
}

.search {
  padding: 10px;
}

.search label {
  font-size: 0.75em;
}
