html, body {
  background: #333;
  color: #fff;
  font-family: sans;
}

a {
  background: rgba(0,0,0,0.7);
  color: orange;
  display: block;
  padding: 8px;
  text-align: right;
  text-shadow: 1px 1px 2px #000;
}

div.pagination {
  background: #000;
  color: #fff;
}

div.pagination a {
  color: lime;
  display: inline-block;
  padding: 4px;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
}

div.game {
  border-radius: 2px;
  box-shadow: 3px 3px 6px #000;
  background: #fff;
  color: #666;
  display: inline-block;
  margin: 10px;
  z-index: 1;
  width: 300px;
  height: 150px;
  overflow: hidden;
}

.game img {
  width: 300px;
  z-index: 1;
}

.search {
  padding: 10px;
}

.search label {
  font-size: 0.75em;
}

.art {
  background-size: 300px 150px;
  background-repeat: no-repeat;
}

.info {
  cursor: pointer;
  background: rgba(0,0,0,0.0);
  color: rgba(0,0,0,0.0);
  width: 300px;
  height: 150px;
  padding: 0px;
  font-size: 0.75rem;
  text-align: center;
}

.info:hover {
  color: #fff;
  background: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 5px teal;
}

.faded {
  opacity: 0.5;
}

nav {
  background: #333;
  display: block;
  margin: 10px;
}

nav a {
  display: inline-block;
  font-size: 0.8rem;
}
